{% extends "base.html" %}

{% block page_content %}
<h1>Restaurants</h1>
<div class="row">
{% for restaurant in restaurants %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }}</h5>
               <!-- <p class="card-text">{{ project.description }}</p> -->
                <a href="{% url 'restaurant_menu' restaurant.pk %}"
                   class="btn btn-primary">
                    Menu
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}